@import "vars";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: DosisLight;
  padding: 3rem;
	color: $text-accent;
	font-family: 'Press Start 2P';
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ======media queries============
@import "media";
