@import "vars";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

body {
  // font-size: 1.1rem;
  // font-family: DosisLight;
  // padding: 3rem;
	// color: $text-accent;
	font-family: 'Press Start 2P';
}
fieldset {
	margin-bottom: 25px;
}
.wrapper {
	display: flex;
}

.nes-field {
	font-size: 14px;
	color: lightgray;
}

.summary {
	width: 100vw;
	height: 80px;
}

.controls {
	width: 40vw;
}

.menu {
	width: 60vw;
	font-size: 13px;
}

.item-list {
	list-style: none;
	padding-left: 0;
}

.item-list li {
	margin: 15px 5px;
	text-align: left;
}

.is-warning {
	width: 250px;
}

.is-success {
	width: 110px;
}

.is-primary {
	width: 110px;
}

.purchase {
	width: 200px;
}

.is-error {
	width: 50px;
	height: 30px;
	margin-right: 20px;
	line-height: 11px;

}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ======media queries============
@import "media";
