.order {
	border: 1px black solid;
	width: 400px;
}

.order.current {
	border: 2px black solid;
}

.order__criteria td{
	border: 1px solid black;
}

.menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 20px;
}

.food {
	display: flex;
	flex-flow: column nowrap;

}

.food img {
	width: 100px;
}

.editable-position {
	background-color: red;
}

audio {
	display: none;
}

table.current tr.food-item:hover {
background-color: #f8f;
}