.order {
	border: 1px black solid;
	width: 400px;
}

.order.current {
	border: 2px black solid;
}

.order__criteria td{
	border: 1px solid black;
}

.menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 20px;
}

.food {
	display: flex;
	flex-flow: column nowrap;

}

.food img {
	width: 100px;
}

.editable-position {
	background-color: red;
}

audio {
	display: none;
}

.food-item:hover {
	/*content: attr(data-title);*/
	/*position: absolute; 
    left: 20%; top: 40%; 
    z-index: 1; */
    /*cursor: url(img/cursor.png), pointer;*/
    
}

table.current tr.food-item:hover {
	background-color: #f8f;
}

td {
	position: relative;
}

.controls {
	position: absolute;
	display: none;
	cursor: default;
	padding: 5px 10px 0 0;
	margin: 0;
	border-radius: 3px;
	top: -5px;
	right: 0;
	background-color: lightsteelblue;
}

.current tr:hover .controls {
	display: inline;
}

.controls > * {
	margin-left: 10px;
	display: inline;
}

.controls > *:hover {
	cursor: pointer;
}
