body {
    padding: 0;
    margin:0;
}
.heading {
    margin-left: 50px;
}
.menu-list{
    float:left;
    margin: 0 100px;
    width: 400px;
}
.order{
    float: left;
}
.stuffings>li:hover,
.salads>li:hover,
.drinks>li:hover,
.order-items>p:hover {
    background-color: #1894ce22;
    cursor: pointer;
}
.stuffings>li:hover::after,
.salads>li>ul>li:hover::after,
.drinks>li:hover::after {
    content: "добавить";
    color: rgba(19, 116, 43);
    float:right;
}
.order-items>p{
    position: relative;
}

.order-items>p:hover::before{
    content: "удоли";
    position: absolute;
    left: -50px;
}

input:invalid {
    background-color: rgba(255, 0, 0, 0.39);
}
input:valid {
    background-color: rgba(0, 128, 0, 0.377);
}